{% extends 'base.html' %}

{% block title %}A MadLib{% endblock %}

{% block content %}

    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.</p>
    <p> When the flames died down, {{ person }} found themselves 
        the Mother of {{ num_pets }} fiery baby 
        {{ noun.capitalize() }}s:

    <ul>
      {% for pet in new_pets %}
        <li>{{pet}}</li>
      {% endfor %}
    </ul>

{% endblock %}